In [2]:
#List of largest corporate profits and losses from wikipedia

In [9]:
from bs4 import BeautifulSoup
import requests

In [10]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_corporate_profits_and_losses'

In [11]:
website = requests.get(url)

In [12]:
soup = BeautifulSoup(website.text, 'html')

In [15]:
#print(soup)

In [16]:
#soup.find_all('table')

In [17]:
#soup.find_all('table')[0]

In [14]:
required_table=soup.find_all('table')[0]

In [11]:
table_headers=required_table.find_all('th')

In [11]:
table_headers

[<th>#</th>,
 <th>Company</th>,
 <th>Industry</th>,
 <th>Country</th>,
 <th>Year</th>,
 <th>Report date</th>,
 <th>Earnings (billion)</th>,
 <th>Earnings converted to USD and inflation adjusted (billion)
 </th>]

In [65]:
table_headers_text = [header.text.strip() for header in table_headers]

In [66]:
table_headers_text

['#',
 'Company',
 'Industry',
 'Country',
 'Year',
 'Report date',
 'Earnings (billion)',
 'Earnings converted to USD and inflation adjusted (billion)']

In [18]:
import pandas as pd

In [70]:
df = pd.DataFrame(columns=table_headers_text)

In [71]:
df

Empty DataFrame
Columns: [#, Company, Industry, Country, Year, Report date, Earnings (billion), Earnings converted to USD and inflation adjusted (billion)]
Index: []

In [72]:
table_row = required_table.find_all('tr')

In [73]:
for row in table_row [1:]  :
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    length = len(df)
    df.loc[length] = individual_row_data

In [74]:
df

,#,Company,Industry,Country,Year,Report date,Earnings (billion),Earnings converted to USD and inflation adjusted (billion)
0,1,Saudi Aramco,Oil and gas,Saudi Arabia,2018,31 December 2018,SAR 416.52[5],$134.77
1,2,Saudi Aramco,Oil and gas,Saudi Arabia,2021,31 December 2021,SAR 412.4[6],$129.47
2,3,Vodafone,Telecommunications,United Kingdom,2014,31 March 2014,Â£59.42[3],$127.23
3,4,Fannie Mae,Financial services,United States,2013,31 December 2013,$83.98[4],$109.85
4,5,Apple,Consumer electronics,United States,2022,29 September 2022,$99.803,$112.22
5,5,Apple,Consumer electronics,United States,2021,29 September 2021,$94.68[7],$106.46
6,6,Saudi Aramco,Oil and gas,Saudi Arabia,2019,31 December 2019,SAR 330.7[8],$105.09
7,7,Berkshire Hathaway,Conglomerate,United States,2021,31 December 2021,$89.8[9],$100.97
8,8,Berkshire Hathaway,Conglomerate,United States,2019,31 December 2019,$81.4[10],$97.03
9,9,Saudi Aramco,Oil and gas,Saudi Arabia,2017,31 December 2017,SAR 284.62[5],$94.27
10,10,Alphabet,Information technology,United States,2021,31 December 2021,$76.0[11],$85.49
11,11,Apple,Consumer electronics,United States,2018,30 September 2018,$59.53[12],$72.23
12,12,Microsoft,Information technology,United States,2021,30 June 2021,$61.27[13],$68.89
13,13,Apple,Consumer electronics,United States,2015,26 September 2015,$53.4[14][15],$68.64
14,14,Apple,Consumer electronics,United States,2020,26 September 2020,$57.4[16],$67.58
15,15,Apple,Consumer electronics,United States,2019,30 September 2019,$55.26[17],$65.85
16,16,ExxonMobil,Oil and gas,United States,2008,31 December 2008,$45.22[18],$63.99
17,17,Industrial & Commercial Bank of China,Banking,China,2021,31 December 2021,RMB 350.216[19],$60.75
18,18,Industrial & Commercial Bank of China,Banking,China,2020,31 December 2020,RMB 317.685[20],$60.5
19,19,Apple,Consumer electronics,United States,2017,30 September 2017,$48.35[21],$60.1
20,20,ExxonMobil,Oil and gas,United States,2006,31 December 2006,$39.5[18],$59.7
21,21,ExxonMobil,Oil and gas,United States,2007,31 December 2007,$40.61[18],$59.67
22,22,ExxonMobil,Oil and gas,United States,2012,31 December 2012,$44.88[22],$59.56
23,23,Apple,Consumer electronics,United States,2016,24 September 2016,$45.7[23],$58.02
24,24,Saudi Aramco,Oil and gas,Saudi Arabia,2020,31 December 2020,SAR 183.8[8],$57.69
25,25,Industrial & Commercial Bank of China,Banking,China,2014,31 December 2014,RMB 276.286[24],$57.79
26,26,ExxonMobil,Oil and gas,United States,2005,31 December 2005,$36.13[25],$56.37
27,27,Industrial & Commercial Bank of China,Banking,China,2013,31 December 2013,RMB 262.7,$56.2
28,28,Berkshire Hathaway,Conglomerate,United States,2017,31 December 2017,$44.9[10],$55.86
29,29,ExxonMobil,Oil and gas,United States,2011,31 December 2011,$41.06[26],$55.61
30,30,Apple,Consumer electronics,United States,2012,29 September 2012,$41.73[27],$55.38
31,31,Industrial & Commercial Bank of China,Banking,China,2015,31 December 2015,RMB 277.720[24],$55
32,32,Industrial & Commercial Bank of China,Banking,China,2017,31 December 2017,RMB 287.451[28],$54.87
33,33,JPMorgan Chase,Banking,United States,2021,31 December 2021,$48.33[29],$54.35
34,34,Industrial & Commercial Bank of China,Banking,China,2019,31 December 2019,RMB 313.361[20],$53.44
35,35,Gazprom,Oil and gas,Russia,2012,31 December 2012,"RUB 1,224.5",$53.31
36,36,NestlÃ©,Food processing,Switzerland,2010,31 December 2010,$37.88[30],$52.93
37,37,China Construction Bank,Banking,China,2021,31 December 2021,RMB 303.928[31],$52.72
38,38,Industrial & Commercial Bank of China,Banking,China,2018,31 December 2018,RMB 298.723[28],$52.67
39,39,Microsoft,Information technology,United States,2020,30 June 2020,$44.28[32],$52.13
40,40,Industrial & Commercial Bank of China,Banking,China,2016,31 December 2016,RMB 279.106[28],$50.99
41,41,Apple,Consumer electronics,United States,2014,27 September 2014,$39.51[33],$50.85
42,42,Berkshire Hathaway,Conglomerate,United States,2020,31 December 2020,$42.5[10],$50.06
43,43,Industrial & Commercial Bank of China,Banking,China,2012,31 December 2012,RMB 238.7[34],$50.16
44,44,Apple,Consumer electronics,United States,2013,29 September 2013,$37.04,$48.45
45,45,China Construction Bank,Banking,China,2014,31 December 2014,RMB 228.247[35],$47.74
46,46,Alphabet,Information technology,United States,2020,31 December 2020,$40.7[11],$47.41
47,47,China Construction Bank,Banking,China,2020,31 December 2020,RMB 273.579[31],$46.27
48,48,China Construction Bank,Banking,China,2019,31 December 2019,RMB 255.63[31],$46.36
49,49,Microsoft,Information technology,United States,2019,30 June 2019,$39.24[32],$46.76
50,50,China Construction Bank,Banking,China,2017,31 December 2017,RMB 243.615[36],$46.5
51,51,Royal Dutch Shell,Oil and gas,Netherlands Â UK,2007,31 December 2007,$31.33[37],$46.04
52,52,China Construction Bank,Banking,China,2013,31 December 2013,RMB 214.65,$45.92
53,53,Gazprom,Oil and gas,Russia,2013,31 December 2013,"RUB 1,139.2",$45.43
54,54,China Construction Bank,Banking,China,2015,31 December 2015,RMB 228.886[35],$45.33
55,55,China Construction Bank,Banking,China,2018,31 December 2018,RMB 255.626[36],$45.09

In [77]:
df.to_csv(r'D:\Mohamed\Data science\Data analysis\PROJECTS\7- Wikipedia web scraping using python\wikipediaWebScraping.csv',index = False)